<div class="contact-form">
    <h4>O aplikacji</h4>
    <p-accordion value="0">
        <p-accordion-panel value="0">
            <p-accordion-header>Opis aplikacji</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    BookSpot służy do usprawnienia pracy wszystkim jego użytkownikom - pracownikom. Za pomocą tej
                    aplikacji użytkownik jest w stanie zarezerwować biurko w wybranym przez siebie terminie i mieć
                    pewność, że będzie ono dla niego dostępne. Rozwiązuje to problem małych powierzchni biurowych. Gdzie
                    posiadamy mniej miejsc w biurze, a niżeli pracowników.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
            <p-accordion-header>Główne funkcje</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    Fukcje aplikacji dla użytkownika: <br>
                    - rezerwacja biurek,<br>
                    - wyszukiwanie wolnych terminów,<br>
                    - możliwość sprawdzenia historii rezerwacji,<br>
                    - edycja rezerwacji.<br><br>
                    Funkcje aplikacji dla admistratora:<br>
                    - zarządzanie użytkownikami,<br>
                    - zarządzanie biurkami,<br>
                    - zarządzanie rezerwacjami.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2">
            <p-accordion-header>Twórcy aplikacji</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    User component:<br>
                    Paulina Pawłowska <br>
                    Kontakt: paulina.d.pawlowska&#64;wp.pl<br><br>
                    Admin component:<br>
                    Anna Dziembała <br>
                    Kontakt: anna.dziembala&#64;gmail.com<br><br>
                    Ver. 1.0
                </p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>



</div>