@model BookSpotUser.Data.BookSpotUserEntity
@{
    ViewData["Title"] = "Usuń zarezerwowane biurko";
}

<div>
    <h4>Dane rezerwacji</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Nazwisko
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Data rezerwacji
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookedDate, "{0:dd/MM/yyyy}")
        </dd>
        <dt>
            ID biurka
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskId)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń rezerwację" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cofnij</a>
    </form>
</div>
